name: "BudapestMetroDisplay"
description: "Backgorund service for a BudapestMetroDisplay hardware LED display"
url: "https://github.com/denes44/BudapestMetroDisplay/tree/main/ha-addon"
version: "1.0.1"
slug: "budapestmetrodisplay"
init: false
legacy: true
codenotary: notary@home-assistant.io
host_network: true
apparmor: true
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: application
ports:
  5568/udp: 5568
map:
  - addon_config:rw
options:
  SACN_MULTICAST: false
  ESPHOME_USED: false
schema:
  LED_DIM_RATIO: float(0,1)?
  LED_FADE_TIME: float(0,)?
  SACN_MULTICAST: bool
  SACN_UNICAST_IP: str?
  SACN_UNIVERSE: int(1,63999)?
  SACN_FPS: int(1,)?
  BKK_API_KEY: "match(^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$)"
  BKK_API_UPDATE_INTERVAL: int(1,)?
  BKK_API_UPDATE_REALTIME: int(1,)?
  BKK_API_UPDATE_REGULAR: int(1,)?
  BKK_API_UPDATE_ALERTS: int(1,)?
  ESPHOME_USED: bool
  ESPHOME_DEVICE_IP: str?
  ESPHOME_API_KEY: "match(^[A-Za-z0-9+/]{43}=$)?"
  APP_LOG_LEVEL: list(trace|debug|info)?
