###################################################
# BudapestMetroDisplay ESPHOME created by denes44 #
# https://github.com/denes44/BudapestMetroDisplay #
# Core functionately                              #
###################################################

# ESPHome & Board

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  min_version: 2025.2.0
  project:
    name: "denes44.BudapestMetroDisplay"
    version: 1.2.0
  platformio_options:
    board_build.flash_mode: dio
  on_boot:
    priority: 800
    then:
      - script.execute: default_values

esp32:
  board: adafruit_feather_esp32s3
  framework:
    type: esp-idf
    platform_version: 6.9.0
    version: 5.3.1
    sdkconfig_options:
      CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240: "y"

logger:

factory_reset:
  resets_required: 5
  max_delay: 10s


# WiFi, AP, Network, etc.

wifi:
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: ${friendly_name} Fallback AP

captive_portal:


# Home Assistant API

api:
  reboot_timeout : 0s

time:
  - platform: homeassistant
    id: homeassistant_time


# Built in web server

web_server:
  port: 80
  ota: false
  version: 3
  sorting_groups:
    - id: sg_led
      name: "LED Settings"
      sorting_weight: 1
    - id: sg_restart
      name: "Restart & Shutdown"
      sorting_weight: 3
    - id: sg_firmware
      name: "Firmware Upgrade"
      sorting_weight: 4
    - id: sg_status
      name: "WiFi & API Status"
      sorting_weight: 2


# Generic sensors and buttons

button:
  - platform: restart
    name: Restart
    id: _restart
    entity_category: config
    web_server:
      sorting_weight: 1
      sorting_group_id: sg_restart

  - platform: safe_mode
    name: Restart (Safe Mode)
    id: _restart_safe
    entity_category: config
    web_server:
      sorting_weight: 2
      sorting_group_id: sg_restart

  - platform: shutdown
    name: Shutdown
    id: _shutdown
    entity_category: config
    web_server:
      sorting_weight: 3
      sorting_group_id: sg_restart

  - platform: factory_reset
    name: Factory reset
    id: _factory
    entity_category: config
    web_server:
      sorting_weight: 4
      sorting_group_id: sg_restart

sensor:
  - platform: wifi_signal
    name: Wifi
    id: wifi_signal_strength
    update_interval: 60s
    entity_category: diagnostic
    web_server:
      sorting_weight: 1
      sorting_group_id: sg_status
    filters:
    - sliding_window_moving_average:
        window_size: 15
        send_every: 15

# Light, sensors and other stuff for the hardware

light:
  - platform: esp32_rmt_led_strip
    name: ${friendly_name}
    id: leds
    web_server:
      sorting_weight: 1
      sorting_group_id: sg_led
    restore_mode: RESTORE_DEFAULT_OFF
    pin: GPIO07
    num_leds: 63
    rmt_symbols: 96
    use_psram: false
    chipset: SK6812
    rgb_order: GRB

    effects:
      - addressable_color_wipe:
          name: LED Test
          colors:
            - red: 100%
              green: 0%
              blue: 0%
              num_leds: 63
            - red: 100%
              green: 100%
              blue: 0%
              num_leds: 63
            - red: 0%
              green: 100%
              blue: 0%
              num_leds: 63
            - red: 0%
              green: 100%
              blue: 100%
              num_leds: 63
            - red: 0%
              green: 0%
              blue: 100%
              num_leds: 63
            - red: 100%
              green: 0%
              blue: 100%
              num_leds: 63
            - red: 100%
              green: 100%
              blue: 100%
              num_leds: 63
          add_led_interval: 50ms
          reverse: false
      - e131:
          universe: 1
          channels: RGB

e131:
  method: multicast

switch:
  - platform: template
    name: LED Test
    id: led_test
    optimistic: true
    web_server:
      sorting_weight: 1
      sorting_group_id: sg_led
    entity_category: config
    turn_on_action:
      - light.turn_off:
          id: leds
          transition_length: 0s
      - delay: 1s
      - light.turn_on:
          id: leds
          effect: LED Test
    turn_off_action:
      - script.execute: default_values

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode:
        input: true
        pullup: true
    id: button_boot
    on_press:
      - switch.toggle: led_test

  - platform: status
    name: Home Assistant Status
    id: ha_status
    web_server:
      sorting_weight: 3
      sorting_group_id: sg_status
    entity_category: diagnostic

script:
  - id: default_values
    then:
      - light.turn_on:
          id: leds
          effect: None
      - delay: 1.2s
      - light.addressable_set: #H6
          id: leds
          range_from: 0
          range_to: 2
          red: 100%
          green: 0%
          blue: 100%
          color_brightness: 20%
      - light.addressable_set: #H7
          id: leds
          range_from: 3
          range_to: 5
          red: 100%
          green: 0%
          blue: 100%
          color_brightness: 20%
      - light.addressable_set: #M4/1
          id: leds
          range_from: 6
          range_to: 11
          red: 0%
          green: 100%
          blue: 0%
          color_brightness: 20%
      - light.addressable_set: #M4/2
          id: leds
          range_from: 13
          range_to: 14
          red: 0%
          green: 100%
          blue: 0%
          color_brightness: 20%
      - light.addressable_set: #M2/1
          id: leds
          range_from: 15
          range_to: 16
          red: 100%
          green: 0%
          blue: 0%
          color_brightness: 20%
      - light.addressable_set: #M2/2
          id: leds
          range_from: 18
          range_to: 18
          red: 100%
          green: 0%
          blue: 0%
          color_brightness: 20%
      - light.addressable_set: #M2/3
          id: leds
          range_from: 20
          range_to: 21
          red: 100%
          green: 0%
          blue: 0%
          color_brightness: 20%
      - light.addressable_set: #M2/4
          id: leds
          range_from: 23
          range_to: 24
          red: 100%
          green: 0%
          blue: 0%
          color_brightness: 20%
      - light.addressable_set: #H9
          id: leds
          range_from: 26
          range_to: 26
          red: 100%
          green: 0%
          blue: 100%
          color_brightness: 20%
      - light.addressable_set: #H5
          id: leds
          range_from: 27
          range_to: 34
          red: 100%
          green: 0%
          blue: 100%
          color_brightness: 20%
      - light.addressable_set: #M3
          id: leds
          range_from: 35
          range_to: 52
          red: 0%
          green: 0%
          blue: 100%
          color_brightness: 20%
      - light.addressable_set: #M1
          id: leds
          range_from: 53
          range_to: 62
          red: 100%
          green: 100%
          blue: 0%
          color_brightness: 20%
      - light.addressable_set: #M4/M3 Kálvin tér
          id: leds
          range_from: 12
          range_to: 12
          red: 0%
          green: 100%
          blue: 100%
          color_brightness: 20%
      - light.addressable_set: #M2/H5 Batthány tér
          id: leds
          range_from: 17
          range_to: 17
          red: 100%
          green: 0%
          blue: 75%
          color_brightness: 20%
      - light.addressable_set: #M1/M2/M3 Deák Ferenc tér
          id: leds
          range_from: 19
          range_to: 19
          red: 100%
          green: 100%
          blue: 100%
          color_brightness: 20%
      - light.addressable_set: #M2/M4 Keleti pályaudvar
          id: leds
          range_from: 22
          range_to: 22
          red: 100%
          green: 75%
          blue: 0%
          color_brightness: 20%
      - light.addressable_set: #M2/H9 Örs vezér tere
          id: leds
          range_from: 25
          range_to: 25
          red: 100%
          green: 0%
          blue: 75%
          color_brightness: 20%
      - delay: 1s
      - light.turn_on:
          id: leds
          effect: E1.31
